ul {
    font-family: sans-serif;
    list-style: none;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul input {
    padding: 5px;
}

ul button{
    padding: 5px;
    max-width: 100px;
    border: 0;
    font-size: 16px;
}

.buttoncancel{
    background-color: #FF6961;
    margin-left: 5px;
}

.buttonadd {
    background-color: #AFDD6E;
    margin-left: 5px;
}

li {
    display: flex;
    align-items: center;
    max-width: 500px;
    justify-content: space-between;
    flex-direction: column;
}

li button {
    background-color: #FF6961;
    padding: 5px;
    border: 0;
    font-size: 16px;
}