body {
    background-color: rebeccapurple;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page {
    height: 100dvh;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}