*{
    margin: 0;
    padding: 0;
}
body {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
}

.page {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

header {
    background-color: #333333;
    color: white;
    padding: 30px;
    font-family: sans-serif;
}

main {
    display: flex;
    width: 100%;
    height: 100%;
}

.sidebar {
    width: 700px;
    height: 100%; 
    background-color: #DDDDDD; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inbox {
    background-color: #EEEEEE;
    width: 100%;
    padding: 16px;
    font-family: sans-serif;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.inbox h2 {
    font-size: 32px;

}

.project-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#add-task {
    width: 100%;
    border: 0;
    font-size: 16px;
    cursor: pointer;
    text-align: left;
    padding: 10px;
}

.sidebar h2{
    margin-bottom: 5px;
}

.inbox button {
    max-width: 100px;
    padding: 5px;
    border: 0;
    cursor: pointer;
}

.inbox button:hover{
    background-color: #DDDDDD;
}

.project-container button {
    background-color: #DDDDDD;
    cursor: pointer;
}


footer {
    background-color: #333333;
    padding: 25px;
    text-align: center;
    color: white;
}

.task-container article {
    display: flex;
    align-items: center;
    gap: 15px;
}

.remove {
    background-color: #FF6961;
}

.complete, .add {
   background-color: #AFDD6E;
}

.button-container {
    display: flex;
    gap: 15px;
    flex-direction: column;
}